.about {
  color: $primarylight;
  background-image: url('../img/drv-op-35.png');
  padding-top: 50px;
  padding-bottom: 50px;
  @media (min-width: $screen-xxs) {
    background-size: 150%;
    background-position-x: -5%;
    background-position-y: 43%;
    background-repeat: no-repeat;
    p:first-child {
      font-size: 22px;
    }
    .lead {
      font-size: 18px;
      font-weight: 200;
    }
  }

  @media (min-width: $screen-xs) {
    background-size: 30%;
    background-position-x: 85%;
  }
  p:first-child {
    font-size: 26px;
  }
  .lead {
    font-size: 22px;
    font-weight: 200;
  }

}
