.contact {
  background-color: $black;
  padding-top: 10px;
  padding-bottom: 20px;
}

.contact .section-title {
  padding-bottom: 10px;
  text-align: right;
}

.contact {
  color: $white;
  text-align: right;
  font-weight: light;
}


.contact a {
  color: $white;
}

.contact img {
  max-width: 150px;
}