.contact {
  background-color: #FFFFFF;
  padding-top: 10px;
  padding-bottom: 20px;
}

.contact .section-title {
  padding: 0;
}

.contact {
  
  color: $primarylight;
  text-align: right;
  font-weight: light;
}


.contact a {
  color: $primarylight;
}

.contact img {
  max-width: 150px;
}