.header {
  background-image: url('../img/hollywood.jpg');
  
  @media (min-width: $screen-xxs) {
    padding: 30%;
    background-size: 125%;
    background-position-y: 50%;
    background-repeat: no-repeat;
    .header-logo-container {
      position: absolute;
      z-index: 2;
      margin: -30%;
      padding: 5% 10%;
      .header-logo-img {
        width: 35%;
        top: 0;
        left: 0;
      }
    }
  }

  @media (min-width: $screen-sm) {
    height: 100vh;
    background-size: 130%;
    background-position-y: 0%;
    background-position-x: 0%;
    
  }
  @media (min-width: $screen-md) {
    background-size: 140%;
    background-position-y: 70%;

  }
  @media (min-width: $screen-lg) {
    background-size: 120%;
    background-position-y: 70%;
  }

}