.header {
  background-image: url('../img/hollywood.jpg');
  @media (min-width: $screen-xxs) {
    padding: 50%;
    background-size: 115%;
    background-position-y: 110%;
    background-repeat: no-repeat;
  }
  @media (min-width: $screen-sm) {
    padding: 35%;
  }
  @media (min-width: $screen-md) {
    padding: 28%;
    background-size: 100%;
    background-position-x: 10%;
  }
}