.header {
  background-image: url('../img/hollywood.jpg');
  @media (min-width: $screen-xxs) {
    padding: 50%;
    background-size: 115%;
    background-position-y: 110%;
    background-repeat: no-repeat;
    .header-logo {
      z-index: 2;
      width: 250px;
      top: 0;
      left: 0;
      margin-top: -175px;
      margin-left: -150px;
    }
  }
  @media (min-width: $screen-xs) {
    padding: 40%;
    .header-logo {
      margin-top: -275px;
      margin-left: -175px;
    }
  }
  @media (min-width: $screen-sm) {
    padding: 35%;
    .header-logo {
      margin-top: -500px;
    }
  }
  @media (min-width: $screen-md) {
    padding: 30%;
    background-position-y: 80%;
    
  }
}