.navbar-default {
  background: $white;
  z-index: 2;
  margin-bottom: 0;
  .navbar-collapse,
  .navbar-toggle {
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
    border-color: $white;;
    background-color: $white;
    .fa {
      font-size: 3em;
      color: $primarylight;
    }
  }
  li {
    text-align: right;
    padding: 5px 15px 5px;
    border-top: 1px solid $primarygreylight;
  }
}

.navbar-right li a {
  text-transform: uppercase;
  cursor: pointer;
}

.img-nav {
  margin-top: 3px;
  margin-left: 5px;
  height: 40px;
}