.services {
  background: $white;
  color: $primarylight;
  text-align: center;
  .services-border {
    border-top: 2px solid $black5;
    border-bottom: 2px solid $black5;
  }
  .services-container {
    margin: 0;
  }
  .fa {
    font-size: 4em;
  }
  .service-items {
    padding-left: 0;    
    .service-item {
      
      padding: 25px 15px;
      text-align: center;
      h3 {
        padding-bottom: 10px;
      }
      p {
        font-size: 18px;
        line-height: 1em;
      }
      &.pull-left {
        @media (min-width: $screen-xxs) {
          border-right: none;
          border-bottom: 2px solid $black5;
        }
        @media (min-width: $screen-sm) {
          border-right: 2px solid $black5;
          border-bottom: none;
        }
      }
      &.pull-right {
        @media (min-width: $screen-xs) {
          border-left: none;
          border-top: 2px solid $black5;
        }
        @media (min-width: $screen-sm) {
          border-left: 2px solid $black5;
          border-top: none;
        }
      }
    }
  }

}
