@import url(http://fonts.googleapis.com/css?family=Raleway:400,500,700,900);
@import url(http://fonts.googleapis.com/css?family=Open+Sans);
/* line 4, scss/partials/_base.scss */
body {
  font-family: 'Raleway', sans-serif;
  color: #004883;
}

/* line 9, scss/partials/_base.scss */
.section-title {
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 7px;
  padding-bottom: 30px;
}

/* line 15, scss/partials/_base.scss */
p.lead {
  font-weight: 500;
}

/* line 1, scss/partials/_header.scss */
.header {
  background-image: url("../img/hollywood.jpg");
}
@media (min-width: 320px) {
  /* line 1, scss/partials/_header.scss */
  .header {
    padding: 50%;
    background-size: 115%;
    background-position-y: 110%;
    background-repeat: no-repeat;
  }
  /* line 8, scss/partials/_header.scss */
  .header .header-logo {
    z-index: 2;
    width: 250px;
    top: 0;
    left: 0;
    margin-top: -175px;
    margin-left: -150px;
  }
}
@media (min-width: 480px) {
  /* line 1, scss/partials/_header.scss */
  .header {
    padding: 40%;
  }
  /* line 19, scss/partials/_header.scss */
  .header .header-logo {
    margin-top: -275px;
    margin-left: -175px;
  }
}
@media (min-width: 768px) {
  /* line 1, scss/partials/_header.scss */
  .header {
    padding: 35%;
  }
  /* line 26, scss/partials/_header.scss */
  .header .header-logo {
    margin-top: -500px;
  }
}
@media (min-width: 992px) {
  /* line 1, scss/partials/_header.scss */
  .header {
    padding: 30%;
    background-position-y: 80%;
  }
}

/* line 1, scss/partials/_clients.scss */
ul.client-items li {
  display: inline-block;
}

/* line 5, scss/partials/_clients.scss */
.clients-container {
  margin-bottom: 30px;
}

/* line 9, scss/partials/_clients.scss */
.client-items {
  padding: 0;
  margin-bottom: 0;
}

/* line 14, scss/partials/_clients.scss */
.client-item {
  list-style-type: none;
  padding: 0;
}

/* line 19, scss/partials/_clients.scss */
.img-client-container {
  position: relative;
}

/* line 23, scss/partials/_clients.scss */
.client-info {
  display: none;
}

/* line 27, scss/partials/_clients.scss */
.client-item:hover .client-info {
  position: absolute;
  display: block;
  height: 100%;
  width: 100%;
  background-color: #000;
  color: #fff;
  opacity: 0.8;
}

/* line 38, scss/partials/_clients.scss */
.client-info p {
  margin-top: 40%;
  font-size: 26px;
}

/* line 43, scss/partials/_clients.scss */
.clients {
  padding-top: 50px;
  padding-bottom: 50px;
}

/* line 48, scss/partials/_clients.scss */
.section-title {
  text-align: center;
  padding-bottom: 50px;
}

@media (min-width: 320px) {
  /* line 54, scss/partials/_clients.scss */
  .img-client-drive {
    display: none;
  }

  /* line 57, scss/partials/_clients.scss */
  .client-item {
    margin: -7px;
  }

  /* line 60, scss/partials/_clients.scss */
  .img-client {
    width: 100%;
  }

  /* line 64, scss/partials/_clients.scss */
  .client-item.logo {
    display: none;
  }
}
@media (min-width: 768px) {
  /* line 70, scss/partials/_clients.scss */
  .img-client {
    width: 250px;
  }
}
@media (min-width: 992px) {
  /* line 76, scss/partials/_clients.scss */
  .img-client {
    width: 325px;
  }

  /* line 79, scss/partials/_clients.scss */
  .img-client-drive {
    width: 640px;
    height: 325px;
  }
}
@media (min-width: 1200px) {
  /* line 86, scss/partials/_clients.scss */
  .img-client-drive {
    display: block;
  }
}
/* line 1, scss/partials/_contact.scss */
.contact {
  background-color: #FFFFFF;
  padding-top: 10px;
  padding-bottom: 20px;
}

/* line 7, scss/partials/_contact.scss */
.contact .section-title {
  padding-bottom: 10px;
  text-align: right;
}

/* line 12, scss/partials/_contact.scss */
.contact {
  color: #004883;
  text-align: right;
  font-weight: light;
}

/* line 19, scss/partials/_contact.scss */
.contact a {
  color: #004883;
}

/* line 23, scss/partials/_contact.scss */
.contact img {
  max-width: 150px;
}

/* line 1, scss/partials/_footer.scss */
.footer {
  background-color: #FFFFFF;
  color: #004883;
}

/* line 1, scss/partials/_navbar.scss */
.navbar-default {
  background: #fff;
  z-index: 2;
  margin-bottom: 0;
}

/* line 7, scss/partials/_navbar.scss */
.navbar-right li a {
  text-transform: uppercase;
  cursor: pointer;
}

/* line 12, scss/partials/_navbar.scss */
.img-nav {
  margin-top: 2px;
  height: 45px;
}

/* line 1, scss/partials/_about.scss */
.about {
  color: #004883;
  background-image: url("../img/drv-op-35.png");
  padding-top: 50px;
  padding-bottom: 50px;
}
@media (min-width: 320px) {
  /* line 1, scss/partials/_about.scss */
  .about {
    background-size: 150%;
    background-position-x: -5%;
    background-position-y: 43%;
    background-repeat: no-repeat;
  }
  /* line 11, scss/partials/_about.scss */
  .about p:first-child {
    font-size: 22px;
  }
  /* line 14, scss/partials/_about.scss */
  .about .lead {
    font-size: 18px;
    font-weight: 200;
  }
}
@media (min-width: 480px) {
  /* line 1, scss/partials/_about.scss */
  .about {
    background-size: 30%;
    background-position-x: 85%;
  }
}
/* line 24, scss/partials/_about.scss */
.about p:first-child {
  font-size: 26px;
}
/* line 27, scss/partials/_about.scss */
.about .lead {
  font-size: 22px;
  font-weight: 200;
}

/* line 1, scss/partials/_services.scss */
.services {
  background: #004883;
  color: white;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
}
/* line 7, scss/partials/_services.scss */
.services .fa {
  font-size: 4em;
}
/* line 10, scss/partials/_services.scss */
.services .about-service-items {
  padding-left: 0;
}
/* line 15, scss/partials/_services.scss */
.services ul.about-service-items li {
  display: inline-block;
  list-style-type: none;
  margin: 20px;
}
@media (min-width: 320px) {
  /* line 15, scss/partials/_services.scss */
  .services ul.about-service-items li {
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #cccccc;
    min-height: 250px;
    max-height: 250px;
  }
}
@media (min-width: 480px) {
  /* line 15, scss/partials/_services.scss */
  .services ul.about-service-items li {
    border-bottom: 1px none;
  }
}
/* line 29, scss/partials/_services.scss */
.services ul.about-service-items li .about-service-item {
  text-align: center;
  width: 275px;
}
/* line 32, scss/partials/_services.scss */
.services ul.about-service-items li .about-service-item h3 {
  padding-bottom: 10px;
}
/* line 36, scss/partials/_services.scss */
.services ul.about-service-items li .about-service-item p {
  font-size: 18px;
  line-height: 1em;
}
