@import url(http://fonts.googleapis.com/css?family=Raleway:400,500,700,900);
@import url(http://fonts.googleapis.com/css?family=Open+Sans);

body {
	font-family: 'Raleway', sans-serif;
	background: url('../img/furley_bg.png');
	color: #004883;
}

h1 {
	font-family: 'Open Sans', sans-serif;
	letter-spacing: 7px;
	text-transform: uppercase;
	padding-bottom: 15px;
}

nav .container-fluid {
	background: #fff;
}

.navbar-default {
	z-index: 2;
}

.navbar {
	margin-bottom: 0;
}

.navbar-right li a {
	text-transform: uppercase;
}

.about-services {
	padding-top: 60px;
}

.container-header {
	background: #fff;
}

.client-item {
	padding: 0px;
	max-width: 250px;
}

.navbar-brand {
	margin-top: -8px;
}

.img-header {
	max-width: 455px;
}

p.lead {
	font-weight: 500;
}

p.paragraph-about {
	font-size: 26px;
}