@import url(http://fonts.googleapis.com/css?family=Raleway:400,500,700,900);

body {
	font-family: 'Raleway', sans-serif;
	background: url('../img/greyzz.png');
	color: #004883;
}

.navbar-default {
	z-index: 2;
}

.navbar {
	margin-bottom: 0;
}

.container-header {
	background: #fff;
}

.client-item {
	padding-top: 20px;
}

.navbar-brand {
	margin-top: -8px;
}

.img-header {
	max-width: 455px;
}

p.lead {
	font-weight: 500;
}

p.paragraph-about {
	font-size: 26px;
}