@charset "UTF-8";
@import url(http://fonts.googleapis.com/css?family=Raleway:400,500,700,900);
@import url(http://fonts.googleapis.com/css?family=Open+Sans);

html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

body {
  font-family: Raleway;
  -webkit-font-smoothing: antialiased;
  margin: 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

a:active,
a:hover {
  outline: 0; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

body {
  margin: 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

a {
  background-color: transparent; }

a:active,
a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

h1 {
  margin: .67em 0;
  font-size: 2em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

hr {
  height: 0;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-size: 10px;
  -webkit-tap-highlight-color: transparent; }

body {
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: #fff; }

a {
  color: #337ab7;
  text-decoration: none; }

a:hover,
a:focus {
  color: #23527c; }

a:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px; }

figure {
  margin: 0; }

img {
  vertical-align: middle; }

.img-responsive,
.thumbnail > img,
.thumbnail a > img,
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  display: block;
  max-width: 100%;
  height: auto; }

.img-rounded {
  border-radius: 6px; }

.img-thumbnail {
  display: inline-block;
  max-width: 100%;
  height: auto;
  padding: 4px;
  line-height: 1.42857143;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out; }

.img-circle {
  border-radius: 50%; }

hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eee; }


p {
  margin: 0 0 10px; }

.lead {
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.4; }

@media (min-width: 768px) {
  .lead {
    font-size: 21px; } }

ul,
ol {
  margin-top: 0;
  margin-bottom: 10px; }

ul ul,
ol ul,
ul ol,
ol ol {
  margin-bottom: 0; }

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn; }

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0); } }

@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    -ms-transform: translateY(20px);
    transform: translateY(20px); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0); } }

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp; }

@-webkit-keyframes fadeInUpBig {
  0% {
    opacity: 0;
    -webkit-transform: translateY(2000px);
    transform: translateY(2000px); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0); } }

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

.fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut; }

@-webkit-keyframes fadeOutDown {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  100% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px); } }

@keyframes flipInX {
  0% {
    -webkit-transform: perspective(400px) rotateX(90deg);
    -ms-transform: perspective(400px) rotateX(90deg);
    transform: perspective(400px) rotateX(90deg);
    opacity: 0; }
  40% {
    -webkit-transform: perspective(400px) rotateX(-10deg);
    -ms-transform: perspective(400px) rotateX(-10deg);
    transform: perspective(400px) rotateX(-10deg); }
  70% {
    -webkit-transform: perspective(400px) rotateX(10deg);
    -ms-transform: perspective(400px) rotateX(10deg);
    transform: perspective(400px) rotateX(10deg); }
  100% {
    -webkit-transform: perspective(400px) rotateX(0deg);
    -ms-transform: perspective(400px) rotateX(0deg);
    transform: perspective(400px) rotateX(0deg);
    opacity: 1; } }

.flipInX {
  -webkit-backface-visibility: visible !important;
  -ms-backface-visibility: visible !important;
  backface-visibility: visible !important;
  -webkit-animation-name: flipInX;
  animation-name: flipInX; }

/* Base Styles
-------------------------------------------------------- */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  box-sizing: border-box; }

@-webkit-keyframes bugfix {
  from {
    padding: 0; }
  to {
    padding: 0; } }

/* Resets
---------------------*/
*,
*:before,
*:after {
  box-sizing: border-box; }

/* Headers
---------------------*/
ul {
  padding-left: 0; }

ol, li {
  list-style-type: none; }

ul, ol {
  list-style-type: none;
  margin: 0;
  padding: 0; }

/* Links
---------------------*/
a,
a:hover,
a:active,
a:focus {
  text-decoration: none;
  outline: none; }

button:focus {
  outline: 0; }

.img-scale {
  width: 100%;
  height: auto; }

.drv-container {
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px; }

.inner {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  max-width: 1200px; }

body {
  color: #004883; }

#ll {
  position: relative;
  min-height: 100%; }

p {
  margin-bottom: auto; }

.section-title {
  font-family: Raleway;
  padding-bottom: 30px;
  text-transform: uppercase; }

.lead {
  font-size: 18px;
  font-weight: 200; }

h2.section-title {
  font-size: 38px; }

.site-landing {
  position: relative;
  height: 290px;
  width: 100%;
  margin: 0 auto; }
  @media (min-width: 415px) {
    .site-landing {
      height: 320px; } }
  @media (min-width: 600px) {
    .site-landing {
      height: 400px; } }
  @media (min-width: 800px) {
    .site-landing {
      height: 600px; } }

#landing-hero {
  position: relative;
  height: 290px;
  width: 100%;
  margin: 0 auto;
  background-size: 175%;
  background-position-y: 35%;
  background-position-x: 0%;
  background-repeat: no-repeat;
  overflow: hidden;
  visibility: hidden;
  -webkit-box-shadow: 1px -21px 41px 6px rgba(0, 0, 0, 0.75);
  box-shadow: 1px -21px 41px 6px rgba(0, 0, 0, 0.75);
  margin: 0 auto;
  text-align: center; }
  @media (min-width: 415px) {
    #landing-hero {
      height: 320px;
      background-size: 150%;
      background-position-y: 35%;
      background-position-x: 0%; } }
  @media (min-width: 600px) {
    #landing-hero {
      height: 400px;
      background-size: 125%;
      background-position-y: 20%;
      background-position-x: 0%; } }
  @media (min-width: 800px) {
    #landing-hero {
      height: 600px;
      background-size: 125%;
      background-position-y: 35%;
      background-position-x: 0%; } }
  @media (min-width: 1000px) {
    #landing-hero {
      background-size: 125%;
      background-position-y: 25%;
      background-position-x: 0%; } }
  @media (min-width: 1100px) {
    #landing-hero {
      background-size: 100%; } }

#landing-logo {
  width: 100%;
  height: auto;
  display: block;
  position: absolute;
  width: 200px;
  left: 20px;
  top: 35px;
  visibility: hidden;
  opacity: 0.8;
  z-index: 1; }
  @media (min-width: 600px) {
    #landing-logo {
      width: 300px; } }
  @media (min-width: 800px) {
    #landing-logo {
      width: 40%; } }
  @media (min-width: 1000px) {
    #landing-logo {
      width: 35%;
      right: 0;
      left: 0;
      top: 90px;
      margin-left: 20%; } }

#landing-logo,
#landing-hero {
  animation-delay: 0.5s; }

#landing-spinner {
  position: absolute;
  height: 200px;
  width: 200px;
  top: 20%;
  right: 0;
  left: 0;
  margin: 0 auto;
  visibility: hidden;
  animation-duration: 1.5s; }
  @media (min-width: 415px) {
    #landing-spinner {
      top: 35%; } }

.clients {
  position: relative;
  width: 100%;
  margin: 0 auto; }
  .clients:before, .clients:after {
    content: " ";
    display: table; }
  .clients:after {
    clear: both; }
  @media (min-width: 600px) {
    .clients {
      padding-bottom: 50px; } }
  .clients .header-container {
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 30px;
    padding-bottom: 30px; }
    @media (min-width: 600px) {
      .clients .header-container {
        text-align: left; } }
  .clients .section-header {
    color: #004883;
    font-family: Raleway;
    font-weight: 200;
    font-size: 36px;
    text-transform: uppercase;
    margin-top: 20px;
    margin-bottom: 20px; }
  .clients .clients-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    text-align: center;
    box-shadow: 10px 15px 57px -13px rgba(0, 0, 0, 0.3); }
  .clients .client-item:last-child {
    display: none; }
    @media (min-width: 600px) {
      .clients .client-item:last-child {
        background-color: #15365d;
        display: block; } }
  .clients .client-item {
    position: relative;
    overflow: hidden;
    width: 100%; }
    @media (min-width: 415px) {
      .clients .client-item {
        width: 50%; } }
    @media (min-width: 600px) {
      .clients .client-item {
        width: 20%; } }
    @media (min-width: 800px) {
      .clients .client-item:hover .client-item__info {
        display: block; }
      .clients .client-item:hover .client-item__overlay {
        opacity: 0.6; } }
    .clients .client-item img {
      width: 100%;
      height: auto;
      display: block; }
    .clients .client-item .client-item__overlay {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      height: 100%;
      background-color: #231f20;
      opacity: 0.2; }
    .clients .client-item .client-item__info {
      background: #004883;
      color: #ffffff;
      display: block;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      text-align: center;
      z-index: 1;
      height: 25%;
      opacity: 0.8;
      font-size: 24px;
      margin-top: 20px;
      line-height: 85px; }
      @media (min-width: 415px) {
        .clients .client-item .client-item__info {
          font-size: 15px;
          line-height: 65px; } }
      @media (min-width: 600px) {
        .clients .client-item .client-item__info {
          height: 30%;
          display: none;
          line-height: 45px; } }
      @media (min-width: 800px) {
        .clients .client-item .client-item__info {
          height: 25%;
          font-size: 17px;
          line-height: 50px; } }

.partners {
  background-color: #004883;
  padding-left: 0;
  padding-right: 0;
  padding-top: 10px;
  padding-bottom: 30px; }
  .partners .section-header {
    margin-bottom: 30px; }
    @media (min-width: 600px) {
      .partners .section-header {
        margin-bottom: 30px; } }
  .partners .header-container {
    text-transform: uppercase;
    text-align: center;
    padding-left: 15px;
    padding-right: 15px; }
    @media (min-width: 600px) {
      .partners .header-container {
        text-align: left; } }

.partners-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  background-color: #ffffff;
  box-shadow: 10px 9px 27px -13px rgba(0, 0, 0, 0.3); }
  .partners-list .partner-item {
    overflow: hidden;
    display: inline-block;
    position: relative;
    vertical-align: top;
    text-align: center;
    width: 50%;
    height: 200px;
    transition: all 0.3s ease; }
    @media (min-width: 600px) {
      .partners-list .partner-item {
        width: 25%; } }
    @media (min-width: 1200px) {
      .partners-list .partner-item {
        width: 16.666666666%; } }
    @media (min-width: 900px) {
      .partners-list .partner-item:hover .partner-name {
        z-index: 8;
        font-size: 18px; }
      .partners-list .partner-item:hover .partner-overlay {
        z-index: 7;
        opacity: 0.8; } }
    .partners-list .partner-item .partner-name {
      display: block;
      position: absolute;
      right: 0;
      left: 0;
      top: 38%;
      font-size: 16px;
      vertical-align: center;
      color: #ffffff;
      z-index: -1;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      transition: 0.2s; }
    .partners-list .partner-item .partner-overlay {
      display: block;
      position: absolute;
      height: 100%;
      background: #004883;
      bottom: 0;
      right: 0;
      left: 0;
      opacity: 0;
      z-index: -2;
      transition: 0.2s; }
    .partners-list .partner-item img {
      margin: auto;
      padding: 20px;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      position: absolute; }

.solutions img {
  width: 100%;
  height: auto;
  display: block;
  animation-delay: 0.5s;
  animation-duration: 3s; }
  @media (min-width: 600px) {
    .solutions img {
      width: 40%; } }

#contact {
  background-color: #15365d; }

.contact {
  color: #ffffff;
  font-weight: 300;
  font-family: Open Sans;
  padding: 20px 30px 10px; }
  .contact:before, .contact:after {
    content: " ";
    display: table; }
  .contact:after {
    clear: both; }
  @media (min-width: 600px) {
    .contact {
      padding-left: 50px;
      padding-right: 50px; } }
  @media (min-width: 600px) {
    .contact {
      margin: 0 auto;
      max-width: 600px; } }
  .contact .contact-address {
    float: right;
    width: 50%;
    text-align: right;
    font-size: 12px; }
  .contact .contact-address__title {
    padding-bottom: 10px;
    font-size: 14px; }
  .contact .contact-address__image {
    width: 100px;
    height: 100px;
    padding: 10px;
    position: relative;
    display: inline-block; }
  .contact .contact-links {
    float: left;
    width: 50%;
    font-size: 12px; }
  .contact .contact-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap; }
  .contact .contact-item {
    width: 100%; }
    @media (min-width: 600px) {
      .contact .contact-item {
        width: 33.333333333%; } }
    .contact .contact-item .contact-item__icon {
      padding-bottom: 10px;
      font-size: 32px; }
      @media (min-width: 600px) {
        .contact .contact-item .contact-item__icon {
          text-align: center;
          font-size: 35px;
          transition: 0.3s; }
          .contact .contact-item .contact-item__icon:hover {
            transform: scale(1.1); } }
    .contact .contact-item .contact-item__title {
      text-align: left;
      font-size: 12px; }
      @media (min-width: 600px) {
        .contact .contact-item .contact-item__title {
          font-size: 14px;
          text-align: center; } }
    .contact .contact-item a {
      color: #ffffff;
      text-decoration: none; }

.footer {
  background-color: #15365d;
  color: #f8f8f8;
  font-size: 10px;
  padding-bottom: 15px; }

.site-header {
  position: relative;
  width: 100%;
  height: 70px;
  margin: 0 auto; }
  .site-header:before, .site-header:after {
    content: " ";
    display: table; }
  .site-header:after {
    clear: both; }

.site-nav {
  z-index: 200;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 100%;
  background-color: #ffffff;
  -webkit-box-shadow: -4px -19px 46px 2px rgba(0, 0, 0, 0.75);
  box-shadow: -4px -19px 46px 2px rgba(0, 0, 0, 0.75); }
  .site-nav:before, .site-nav:after {
    content: " ";
    display: table; }
  .site-nav:after {
    clear: both; }

.burger {
  display: block;
  position: relative;
  padding-top: 10px;
  font-size: 2em;
  cursor: pointer;
  z-index: 190;
  height: 100%; }
  @media (min-width: 800px) {
    .burger {
      display: none; } }
  .burger span {
    float: right;
    height: 50px;
    width: 50px;
    line-height: 50px;
    color: #346FA4;
    transition: 0.3s; }
    .burger span:hover {
      opacity: 0.7; }
    .burger span.fa-bars {
      display: block; }
    .burger span.fa-times {
      display: none; }

.opened {
  overflow: hidden; }
  .opened .burger span.fa-bars {
    display: none; }
  .opened .burger span.fa-times {
    display: block; }
  .opened .site-nav {
    box-shadow: none; }
  .opened .site-menu {
    top: 70px;
    transition: 0.3s;
    -webkit-box-shadow: 0px 19px 21px -7px rgba(0, 0, 0, 0.28);
    box-shadow: 0px 19px 21px -7px rgba(0, 0, 0, 0.28); }
  .opened .curtain {
    height: 100%;
    opacity: 0.4; }

.site-menu {
  right: 0;
  left: 0;
  text-align: center;
  background: #ffffff;
  padding-right: 25px;
  top: -16em;
  bottom: auto;
  position: fixed;
  transition: 0.4s;
  z-index: 100; }
  @media (min-width: 800px) {
    .site-menu {
      -webkit-box-shadow: 0px 19px 21px -7px rgba(0, 0, 0, 0.01);
      box-shadow: 0px 19px 21px -7px rgba(0, 0, 0, 0.01);
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-direction: normal;
      -webkit-box-orient: horizontal;
      -ms-flex-direction: row;
      -webkit-flex-direction: row;
      flex-direction: row;
      -ms-flex-wrap: wrap;
      -webkit-flex-wrap: wrap;
      flex-wrap: wrap;
      position: relative;
      padding-top: 10px;
      transition: inherit;
      top: auto;
      width: 675px;
      float: right;
      z-index: 300; } }

.menu-item {
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  line-height: 25px;
  text-align: right;
  text-transform: uppercase; }
  @media (min-width: 800px) {
    .menu-item {
      display: inline-block;
      font-size: 20px;
      width: auto;
      transition: 0.3s;
      margin-left: 25px; }
      .menu-item:hover {
        opacity: 0.7; }
      .menu-item a {
        text-decoration: none;
        color: #346FA4;
        transition: ease 0.3s all; }
        .menu-item a:hover {
          color: #346FA4; } }

.nav-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  position: relative;
  float: left;
  padding-top: 10px;
  margin-left: 25px;
  width: 175px;
  z-index: 200; }

.nav-icon {
  text-align: center;
  font-size: 24px;
  width: 33.333333333%;
  transition: 0.3s; }
  .nav-icon span,
  .nav-icon img {
    margin-left: 10px;
    height: 50px;
    width: 50px; }
  .nav-icon span {
    height: 50px;
    width: 50px;
    line-height: 50px;
    border: 2px solid #346FA4;
    border-radius: 50%;
    color: #346FA4; }
  @media (min-width: 800px) {
    .nav-icon:hover {
      opacity: 0.7;
      transform: scale(1.05); } }

.curtain {
  overflow: hidden;
  position: absolute;
  height: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 10;
  background-color: #231f20;
  opacity: 0;
  transition: 0.2s; }

.excerpt {
  position: relative;
  margin: 0 auto;
  padding: 30px 0 50px;
  color: #004883;
  background-size: 150%;
  background-position-x: -5%;
  background-position-y: 43%;
  background-repeat: no-repeat; }
  @media (min-width: 415px) {
    .excerpt {
      background-size: 75%;
      background-position-x: 110%; } }
  .excerpt .excerpt-header {
    font-size: 36px;
    font-family: Raleway;
    font-weight: 300;
    text-transform: uppercase;
    padding-left: 25px;
    padding-right: 25px;
    margin: 0 auto;
    margin-bottom: 20px; }
    @media (min-width: 1000px) {
      .excerpt .excerpt-header {
        width: 1100px; } }
  .excerpt .excerpt-headline {
    position: relative;
    font-size: 24px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 25px; }
    @media (min-width: 600px) {
      .excerpt .excerpt-headline {
        margin: 0 auto;
        display: block;
        line-height: 36px; } }
    @media (min-width: 1000px) {
      .excerpt .excerpt-headline {
        width: 1000px; } }
  .excerpt .excerpt-summary {
    max-width: 800px;
    margin: 0 auto 20px;
    font-size: 15px;
    line-height: 25px;
    font-weight: 200;
    padding-left: 25px;
    padding-right: 25px; }
    .excerpt .excerpt-summary:before, .excerpt .excerpt-summary:after {
      content: " ";
      display: table; }
    .excerpt .excerpt-summary:after {
      clear: both; }
    @media (min-width: 1000px) {
      .excerpt .excerpt-summary {
        max-width: 850px; } }
  .excerpt .excerpt-summary__paragraph {
    padding-bottom: 25px;
    margin: 0 auto; }
    @media (min-width: 600px) {
      .excerpt .excerpt-summary__paragraph {
        width: 90%;
        font-size: 17px;
        line-height: 26px; } }
    @media (min-width: 600px) {
      .excerpt .excerpt-summary__paragraph:first-child {
        margin: 0 auto;
        float: left;
        width: 45%; } }
    @media (min-width: 600px) {
      .excerpt .excerpt-summary__paragraph:nth-child(2) {
        margin: 0 auto;
        float: right;
        width: 45%; } }
    @media (min-width: 800px) {
      .excerpt .excerpt-summary__paragraph:nth-child(2) {
        padding-bottom: 45px; } }
  .excerpt .excerpt-summary__sig {
    margin: 0 auto; }
    @media (min-width: 600px) {
      .excerpt .excerpt-summary__sig {
        width: 90%;
        display: block;
        float: right;
        width: 45%; } }

.services {
  background-color: #ffffff;
  color: #004883;
  border-top: 1px solid #d0d2d3;
  text-align: center;
  padding-left: 0;
  padding-right: 0; }
  .services:before, .services:after {
    content: " ";
    display: table; }
  .services:after {
    clear: both; }
  .services .fa {
    color: #15365d;
    font-size: 4em; }
  .services .headline {
    margin-bottom: 20px; }
  .services .meta {
    line-height: 19px;
    color: #6c6d6f;
    font-size: 14px;
    margin-bottom: 10px; }
  .services .service-item {
    border-bottom: 1px solid #d0d2d3;
    text-align: center;
    width: 100%;
    display: block;
    padding-top: 15px;
    padding-bottom: 15px; }
    @media (min-width: 600px) {
      .services .service-item {
        width: 33%;
        display: inline-block;
        border-bottom: none;
        border-left: 1px solid #d0d2d3;
        border-right: 1px solid #d0d2d3; }
        .services .service-item.p-left {
          float: left;
          border: none; }
        .services .service-item.p-right {
          float: right;
          border: none; } }
    @media (min-width: 600px) {
      .services .service-item .desc-container {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        min-height: 120px; } }
    @media (min-width: 800px) {
      .services .service-item .desc-container {
        min-height: 90px; } }

.quote {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px; }
